body{
    padding: 0;
    margin: 0;
    background-image: url("asset/1.png");
    background-size: cover;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #ffff;
    --main-color: #b9cfcd;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
}
.container{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    border: #f8f1f1;
    border-radius: 10px;
    color: white;
    gap: 50px;
    text-align: center;
}
.submit{
    display: flex;
    margin-left: 320px;
    margin-top: 50px;
}
.submit input{
    border-radius: 5px;
    width: 100px;
    height: 50px;
}
.submit input:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
#result{
    display: flex;
    color: white;
    text-align: center;
    margin-left: 310px;
    margin-top: 20px;
}
form {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

select {
    font-size: 1rem;
    width: 220px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
}

select::-ms-expand select {
    appearance: none;
    margin-right: 0.5rem;
}

select:focus {
    outline: 2px solid #171a1c;
}
#amount input{
    width: 200px;
    height: 45px;
}

select option[disabled] {
    color: #ccc;
}
